<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отзывы о покупке</title>
    <link rel="stylesheet" type="text/css" href="../static/css/tarifs_style.css">
	<link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="behindbg"></div>
    <div class="bg"></div>
    <div class="container">
        <h1 style="color: white; font-family: 'Montserrat', sans-serif;">Отзывы о покупке</h1>
        <div class="not-title">
            <div class="active-buttons">
                <div class="button" onclick="showForm()">Написать отзыв</div>
                <div class="button" onclick="showReviews()">Посмотреть отзывы</div>
            </div>
            <div id="form" class="hidden">

                <form id="reviewForm" action="/feedback" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div>
                        <label for="username">Имя:</label>
                        <input type="text" id="username" name="username" required><br><br>
                    </div>
                    <div>
                        <label for="picture">Скриншот тарифа:</label>
                        <div>
                            <label for="picture" class="decoBtn">Загрузить фото</label>
                        </div>
                        <input type="file" id="picture" name="picture" required><br><br>
                    </div>
                    <div>
                        <label for="feedback">Комментарии:</label><br>
                        <textarea style="font-size: 19px;" id="feedback" name="feedback" required></textarea><br><br>
                    </div>
                    <button type="submit" id="submit">Отправить</button>
                </form>
            </div>

            <div id="reviews" class="hidden">
                <h1 class="feedback_title">Отзывы</h1>
                <br>
                {% if reviews %}
                    <ul>
                        {% for review in reviews %}
                            <li class='bullet'>
                                <strong class="review_name">{{ review[0] }}</strong>:<br>
                                <p class="review_text">{{ review[1] }}</p>
                            </li>
                        <br>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p><h2 class="noreviews">Пока отзывов нет. Заходите позже!</h2></p>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        function showForm() {
            document.getElementById('form').classList.remove('hidden');
            document.getElementById('reviews').classList.add('hidden');
        }

        function showReviews() {
            document.getElementById('form').classList.add('hidden');
            document.getElementById('reviews').classList.remove('hidden');
        }
    </script>
</body>
</html>
